.planned, .planned * {
	background-color:lightcoral;
	background-color:#f39393;
	background-color:#FFAA33;
	background-color: #FFBF00;
}
table {
	border-collapse: collapse;
	width: 80%;
	margin-bottom:30px;
}
table th {
	background-color: #f2f2f2;
	text-align: left;
	padding: 8px;
}
table td {
	border: 1px solid #ddd;
	padding: 8px;
}
table tr:nth-child(even) {
	background-color: #f9f9f9;
}
table tr:hover {
	background-color: #f1f1f1;
}
tr.gap td {
	background-color:transparent;
	border:0;
	min-height:30px;
}
tr.gap:hover, tr.gap:hover td, tr.gap td:hover {
	background-color:white;
}
